# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home/mtvnews24/public"
PassengerBaseURI "/"
PassengerNodejs "/home/mtvnews24/nodevenv/public/12/bin/node"
PassengerAppType node
PassengerStartupFile server.js
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END
# DO NOT REMOVE OR MODIFY. CLOUDLINUX ENV VARS CONFIGURATION BEGIN
<IfModule Litespeed>
SetEnv NEXT_PUBLIC_IP_ADDRESS 89eb4d70-4cbe-11ed-a0f2-51b843ebe8d7
SetEnv JWT_SECRET 96xDM6-<AEt+FAszrgwNNw<lkKO
SetEnv NODEMAILER_SECRET edduwozjngjrpndq
SetEnv NEXT_PUBLIC_GOOGLE_CLIENT_ID 137211494718-58q0t25ntd3lbncjm9tttu131cdtm3q9.apps.googleusercontent.com
SetEnv NEXT_PUBLIC_GOOGLE_SECRET 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
SetEnv NEXT_PUBLIC_FACEBOOK_ID 438654467748573
SetEnv NEXT_PUBLIC_APP_PASSWORD 5994471abb01112afcc18159f6cc74b4f511b99806da59b
</IfModule>
# DO NOT REMOVE OR MODIFY. CLOUDLINUX ENV VARS CONFIGURATION END