@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .alertContainer {
    @apply fixed top-20 right-2;
  }
  .success {
    @apply bg-green-100 text-base text-green-700 py-2 px-6 rounded;
  }
  .error {
    @apply bg-red-100 rounded py-2 px-6 text-base text-red-700;
  }
  .info {
    @apply bg-blue-100 rounded-lg py-2 px-6 text-base text-blue-700 mb-3;
  }
  input:required::placeholder,
  textarea:required::placeholder {
    @apply text-[#4eb9c9];
  }
}
